*{
    margin: 0 ;
    padding:  ;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style:;
}

.header{
    position: fixed;
    top:0 ;
    left:0 ;
    width: 100%;
    padding: 35px 12%;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.logo:hover{

    color: orangered;
    text-shadow: 0 0 25px orangered;                
}

span{
    color: orangered;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}


.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}


.home-content{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}


.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}

    .btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}


.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight:600;
    cursor: pointer;
}


.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px;
    background-color: orangered;
    color:white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.btn-2:hover{
    background-color: white;
    color: orangered;
}

.img-box img{
    border-radius: 50%;
    width: 400px;
}

.about-img img{

    position:;
    width: 400px;
    border-radius: 50%;

}

.tab{

    width: 70%;
    margin-top:1;
    background-color: rgb(241, 241, 241);
    align-items: center;
    gap: 7em;
    border: 1px solid black;
    border-collapse: collapse;
    height: 200px;
    text-align: center;
    float: left;
}

.tabatt{

    border: 1px solid orangered;
    border-collapse: collapse;
    }
    
.tabh1{
    color:grey;
    margin-left:    ;
    width: 70%;
    margin-top: 110px;
    background-color: rgb(241, 241, 241);
    float: left
}

.tabper{


    margin-left:;
    width: 100%;
    margin-top:10px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    gap: 7em;
    border-collapse: collapse;
    height: 500px;
    
}

.home{

    width:70%;
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding:30px 5% 0;
    float: left;

}

.about{
    width: 70%;
    display: flex;
    padding: 12% 8%;
    gap: 10em;
    background-color:;
    color: white;
    margin-left:;
    float: left;
}

.about-content{
    font-size: 62px;
    color: white;
    font-size: 20px;
    margin: ;
    margin-left: ;
}

.contact-me{
    width: 70%;
    float: left;
}

.contact-form{
    width: 100%;
}

.contact-form h2{
    text-align: center;
    margin-top: 110px;
    margin-bottom:;
    font-size: 36px;
    float: left;

}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom:;
}

.contact-form form .input-box input,
.contact-form form textarea{

    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241,241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize:none;
}

.hobiee{


    margin-right:;
    float:left  ;   
    margin-left:50px ;
    width: 70%;
    min-height:;
    background-color: rgb(241, 241, 241);
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 2px solid orangered;
    display: inline-block;
    
}

.aboutfooter{
      position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 2px solid orangered;
    display: inline-block;
  
}


.footer a:hover{
    color: orangered;
    border-bottom: 1px solid orangered;

}

.footer a{

    color: white;
}

.footer p{
    margin-top: 8px;
    font-size: 15px;
}

.noppp{

    color: black;
    background-color: rgb(241, 241, 241);
    width: 70%;
}

.noppp a{
    margin-top:;
    margin-left: 30px;
    width: 100%;
    color: black;
    background-color: rgb(241, 241, 241);

}

.noppp a:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
    
}

.av{



    
}

.homenap{
    letter-spacing: 1px;
    width:15%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    margin-top: 110px;
    gap: 7em;
    padding:20px 45px; 
    float: left;
    text-align: center;   
}

.napnap a{    
    text-align:center;
    margin-top: 150x;
    font-size: 20px;
    color:white;
    font-weight: 500;
    margin: 0 ;
    border-bottom: 3px solid transparent;
}

.napnap a:hover,
.napnap a:active{
    color: orangered;
    border-bottom: 3px solid orangered;

}

.homenap1{
    letter-spacing: 1px;
    width:15%;
    min-height:101vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    margin-top: 94px;
    gap: 7em;
    padding:20px 45px; 
    float: left;
    text-align: center;   
}

.napnap1 a{    
    text-align:center;
    margin-top: 150x;
    font-size: 20px;
    color:white;
    font-weight: 500;
    margin: 0 ;
    border-bottom: 3px solid transparent;
}

.napnap1 a:hover,
.napnap1 a:active{
    color: orangered;
    border-bottom: 3px solid orangered;

}

.edu-contant{
    position: relative;
    bottom: 0;
    width: 70%;
    padding: ;
    background-color: rgba(0,0,0,0.8);
    text-align:;
    color: white;
    font-size: 20px;
    border: 2px solid orangered;
    display: inline-block;
   
}
